<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<h1 class="text-center">Articles</h1>

<% if user_signed_in? %>
  <% if ['admin', 'author'].include?(current_user.role) %>
    <div class="text-center mb-3">
      <%= link_to "New article", new_article_path, class: "btn btn-light" %>
    </div>
  <% end %>
<% end %>

<div id="articles" class="row gy-3 row-cols-1 row-cols-lg-2">
  <% @articles.each do |article| %>
    <div class="col align-self-center">
      <div class="card">
        <%= image_tag article.image, class:"card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text">Written by <%= article.user.username %></p>
          <p class="card-text"><small class="text-body-secondary"><%= article.created_at.strftime("%d - %m - %Y")%></small></p>
        </div>
        <div class="card-footer text-center">
          <%= link_to "Show this article", article, class: "btn btn-light" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
