<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>

<div>
  <ul>
    <% @comments.each do |comment| %>
      <div>
        <p><strong><%= User.find(comment.user_id).username %></strong> commented:</p>
        <p><%= comment.content %></p>
        <p>at <%= comment.created_at %></p>
      </div>
    <% end %>
  </ul>
</div>

<% if user_signed_in? %>
  <%= form_with model: [@article, @article.comments.build], url: comment_article_path do |form| %>
    <p>
      <%= form.label :content %>
      <%= form.text_area :content %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% end %>
