<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to 'News Site', root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <span class="navbar-text">
          Welcome <strong><%= user_signed_in? ? current_user.username : 'Guest' %></strong>
        </span>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Edit user details", edit_user_registration_path, class: "dropdown-item" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "dropdown-item" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
              </li>
              <li class="nav-item">
                <%= link_to "Register", new_user_registration_path, class: "dropdown-item" %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
